/* Общие стили */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* Распределяет элементы по краям */
    align-items: center;
    padding: 8px;
    background-color: #bfbfbf;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #013220;
}

.menu-container {
    flex: 1;
    /* Занимает оставшееся пространство */
    display: flex;
    justify-content: center;
    /* Центрирует меню по горизонтали */
}

.menu {
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    color: #013220;
    background-color: #dda0dd;
    cursor: pointer;
    text-decoration: none;
}

.social-container {
    display: flex;
    /* Располагает элементы в ряд */
    gap: 8px;
    /* Фиксированное расстояние между кнопками (меняйте значение по желанию) */
}

.vk,
.tch {
    padding: 8px 8px;
    border: none;
    border-radius: 50px;
    color: #013220;
    background-color: #dda0dd;
    cursor: pointer;
    text-decoration: none;
}

main {
    padding: 16px;
    
}

main div:not(:last-child) {
    margin-bottom: 16px;
    
}

img {
    width: 100%;
    aspect-ratio: 1 / 1; /* ширина и высота 1 к 1*/
    border-radius: 16px;
    object-fit: cover;
}

img.helmet-img {
    border-radius: 1000px;
}

.text-overlay {
    font-size: 24px;
    font-weight: bold;
    color: #013220;
}

footer {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */
    background-color: #333;
    color: white;
    padding: 8px; 
    bottom: 0;
    width: 100%;
}