/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .logo {
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu, .vk {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: pink; /* цвет по вашему выбору */
    cursor: pointer;
  }
  
  main {
    padding: 10px;
  }
  
  section {
    margin-bottom: 15px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    text-align: center;
  }
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}